doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Development assets
    link(rel='stylesheet', href='css/style.css')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    //- Production assets
    // <link rel="stylesheet" href="css/_main.min.css">
  body
    .sprite.m-about
    .sprite.m-arenda

    //- Development assets
    script(src='js/vendor/jquery-1.11.0.min.js')
    //- Production assets
    // <script src="js/_main.min.js"></script>
